.alert
{
    border-radius:0;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;

    font-weight: 800;
}



/* Colors for brand */
.brand
{
    color: #007bff;
    font-size: xx-large;
    font-weight: 800;

}


main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{

    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

.main-bg {
  background-color: #252a2e !important;
}

main img
{

    /* Constrain images on small screens */
    max-width: 100%;
}
